            <% max = TicketingCache.open_tickets_count %>
            <li class="<%= 'active' if request.original_url.include? 'admin/ticketing' %>">
              <a href="#"><i class="fa fa-headphones fa-fw"></i> Ticketing  
                <% if max > 0 %>
                &nbsp; &nbsp; <span class="badge"><%= max %></span>
                <% end %>
                <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
				        <li><%= link_to "My Cases", admin_ticketing_cases_path(user_id: session[:user_id]) %></li>
                <% TicketingCache.queue_list.each do |q| %>
                <li><%= link_to q.name, admin_ticketing_cases_path(queue_id: q.id) %></li>
                <% end %>
              </ul>
            </li>